#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
// |   NUM   |    /    |    *    |    -   |
// |    7    |    8    |    9    |    +   |
// |    4    |    5    |    6    |
// |    1    |    2    |    3    |
// |    0    |         |    .    |  ENTER |
            bindings = <
    &kp KP_NUMLOCK  &kp KP_DIVIDE   &kp KP_MULTIPLY    &kp KP_MINUS 
    &kp KP_NUMBER_7 &kp KP_NUMBER_8 &kp KP_NUMBER_9
    &kp KP_NUMBER_4 &kp KP_NUMBER_5 &kp KP_NUMBER_6    
	&kp KP_NUMBER_1 &kp KP_NUMBER_2 &kp KP_NUMBER_3
    &kp KP_NUMBER_0                 &kp KP_DOT     	    &kp CLEAR2 
            >;

        };
    };
};